*{
    padding: 0;
    margin: 0;
    border: 0;
}
#Instagram{
    width: 100%;
    height: 100vh;
   background-color: #ccc;
}
#Instagram .container{
    width: 100%;
    height: auto;
}
#Instagram .container header{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Instagram .container header .title{
    width: 500px;
    margin: 0 auto;
}
#Instagram .container .feed{
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}

.post{
    width: 500px;
    margin: 20px auto;
}
.post .post-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.post .post-photo img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.post .post-footer{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: white;
}
.post .post-footer p{
    text-align: justify;
    text-transform: capitalize;
}